<footer>
    <div class="row">
        <div class="col-lg-9">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, doloremque tempora quod obcaecati sed fugiat incidunt. Sapiente commodi quas veritatis, numquam molestiae, natus id exercitationem earum saepe a ex voluptatum?</p>
        </div>
        <div class="col-lg-3">
            <img class="rounded-circle rounded-0" src="https://static.cegos.es/content/uploads/2023/03/01161518/GettyImages-1323649937.jpg "> 
        </div>
    </div>
</footer>
