<footer>
    <div class="row">
        <div class="col-lg-9">
            <h1>This first Heading</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, doloremque tempora quod obcaecati sed fugiat incidunt. Sapiente commodi quas veritatis, numquam molestiae, natus id exercitationem earum saepe a ex voluptatum?</p>
        </div>
        <div class="col-lg-3">
            <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUM-7D7iFq66Kd2wq1QxZSydLPJJ-tFBMLpN9mQnq3V13UemUqGp679838vdfgbHNEZxw&usqp=CAU"> 
        </div>
    </div>
</footer>
